*{
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(187, 188, 189);
    background-color: rgb(30, 70, 130);;
}

main{
    margin: 5px;
    padding: 5px;
}

#divrex{
    width: 150px;
    height: 150px;
    overflow: hidden;
}

#rex{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

#headerr div h1{
    text-align: center;
    font-size: 40px;
}

#headerr{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: rgb(24, 55, 108);
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 2px solid black;
}

#h11{
    padding-bottom: 7px;
}

#h12{
    padding-top: 7px;
}

.navs{
    color: rgb(187, 188, 189);
    text-decoration: none;
    font-size: 25px;
    background-color: rgb(30, 70, 130);
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
}


/* carrusell  tutorial https://www.youtube.com/shorts/3KFCjEGbjQY */
.carrusel{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    overflow-y: hidden;
}

.imagenes{
    flex: 1 0 auto;
    margin: 0 50px;
    background-color: grey;
    width: 800px;
    height: 500px;
}

/* carrusell  tutorial https://www.youtube.com/shorts/3KFCjEGbjQY */


.imagenes img{
    height: 100%;
    width: 100%;
}

main div h2{
    text-decoration: underline;
    font-size: 28px;
}

#after{
    font-size: 24px;
}

#benja:hover{ 
    background-image: linear-gradient(to right, rgb(119, 25, 220),rgb(175, 63, 232));
    /* https://stackoverflow.com/questions/8384751/css-text-gradient */
    color: transparent;
    background-clip: text;
    /* https://stackoverflow.com/questions/8384751/css-text-gradient */
}

.socialmedia{
    height: 50px;
    width: 50px;
    display: block; /* AI help ;( */
    object-fit: contain; /* AI help ;( */
}

.contact_href{
    display: flex;
    color: rgb(187, 188, 189);
    text-decoration: none;
    font-size: 25px;
    align-items: center;
    line-height: 1; /* AI help ;( */
    gap: 10px;
    width: 100px;
}

footer p{
    text-align: right;
}
